.bah
{
    height:725px;
    width: 1000px;
    left:50px;
    background-color:lime;
    border:10px solid black;
}
#ba
{
    color:rgb(38, 0, 255);
}
p
{
  color:darkblue;
}
p
{
    color:darkred;
}
p{
    color:darkviolet;
}
p{
    color:rgb(2, 82, 51);
} 


